.bio {
  color:#fff;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}

html {
  background-image: linear-gradient(
    to right bottom,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  height: 100%;
  margin: 0;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

h1 {
  text-shadow: 2px 3px 0px #898999;
  color: #fff;
}

.header {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 3px 0px #898999;
}

.mainContainer {
  display: flex;
  justify-content: center;
  margin-top: 128px;
  width: 100%;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}
